
table.table_hydra {width:100%;padding:0;margin:0;}
table.table_hydra caption {overflow:hidden; width:0; height:0; visibility:hidden; font-size:0;}
table.table_hydra thead {background: #FFFFFF;font-family:돋움체;}
table.table_hydra thead th {color:#000000;font-size:12px;letter-spacing:-1px; padding:5px;border:1px #91d1e1 solid;text-align:center;}

table.table_hydra tbody th {color:#FFFFFF; height:30px;font-size:12px;letter-spacing:-1px;border-bottom:1px solid #eaeaea;text-align:right;padding-right:20px;}
table.table_hydra tbody td {border-bottom:1px solid #eaeaea;border-top:1px solid #FFFFFF; font-size:12px; color:#000000; font-family:돋움체; height:22px;}
table.table_hydra tbody td.center { text-align:center;} 
table.table_hydra tbody td.right { text-align:right;padding-right:25px;} 
table.table_hydra tbody td.left {  font-size:12px;text-align:left;padding-left:10px;font-family:돋움체;} 
table.table_hydra tbody td.old { background-color:#fafafa;} 
table.table_hydra tbody td.new { background-color:#f3f5ff;color:#562eb2;} 
table.table_hydra tbody td.small { font-size:12px;font-family:돋움체;letter-spacing:-1px;} 
table.table_hydra tbody td.red1 { color:red1;} 



table.table_point {width:100%;padding:0;margin:0;}
table.table_point caption {overflow:hidden; width:0; height:0; visibility:hidden; font-size:0;}
table.table_point thead {background: #FFFFFF url(/jsp/SDLC/img/barbg.gif) repeat-x;font-family:돋움체;}
table.table_point thead th {color:#000000;font-size:12px;letter-spacing:-1px; padding:5px;border:1px #91d1e1 solid;text-align:center;}

table.table_point tbody th {color:#FFFFFF; height:30px;font-size:12px;letter-spacing:-1px;border-bottom:1px solid #eaeaea;text-align:right;padding-right:20px;}
table.table_point tbody td {border-bottom:1px solid #eaeaea; border-top:2px solid #FFFFFF; font-size:12px; color:#000000; font-family:돋움체; height:22px;}
table.table_point tbody td.center { text-align:center;} 
table.table_point tbody td.right { text-align:right;padding-right:25px;} 
table.table_point tbody td.left {  font-size:12px;text-align:left;padding-left:10px;font-family:돋움체;} 
table.table_point tbody td.old { background-color:#fafafa;} 
table.table_point tbody td.new { background-color:#f3f5ff;color:#562eb2;} 
table.table_point tbody td.small { font-size:12px;font-family:돋움체;letter-spacing:-1px;} 
table.table_point tbody td.red1 { color:red1;} 


table td{
	height:19px;
	margin-top:2px;
	margin-bottom:2px;
	margin-left:3px;
	font-family:돋움체;
	font-size:12px;
}



/* standard elements */
* {
	margin: 0;
	padding: 0;
}
a:visited 	{color: #444;	text-decoration: none;}
a:hover 	{color: #000;text-decoration: none;}
a {
	font-size:12px;
}
body {
	//background: url(/jsp/anaconda/img/img03.jpg) repeat-x;
	color: #000;
	font: normal 100% "Lucida Sans Unicode",sans-serif;
	margin: 0;
	font-size:12px;
}
input {
	color: #555;
	font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}

p,cite,code,ul {
	font-size: 1.0em;
	padding-bottom: 1.2em;
}
h1 {
	font-size: 1.1em;
	margin-bottom: 4px;
}
li {
	font-size: 12px;
}
code {
	background: url(/jsp/anaconda/img/bgcode.gif);
	border: 1px solid #F0F0F0;
	border-left: 6px solid #39F;
	color: #555;
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
cite {
	background: url(/jsp/anaconda/img/quote.gif) no-repeat;
	color: #666;
	display: block;
	font: normal 1.0em "Lucida Sans Unicode",serif;
	padding-left: 28px;
}
h1,h2,h3 {
	color: #06C;
	padding-top: 6px;
}
/* misc */
.clearer {
	clear: both;
}

/* structure */
.container {
}

.header {
	height:140px;
}

/* title */
.title {
	float: left;
	padding: 10px 0 0 5px;
}
.title h1 {
	color: #FFF;
	font: normal 2em Verdana,sans-serif;
}

/* navigation */
.navigation {
	//float: left;
	height: 45px;
	margin-left: 4px;
	padding: 0 0px;
}
.navigation a {
	color: #FFF;
	float: left;
	font: bold 1.3em "돋움체",돋움체;
	margin-top: 6px;
	padding: 8px 18px;
	text-align: center;
	text-decoration: none;
}
.navigation a:hover {
	background-color: #4A91C3;
	color: #FFF;
}

/* main */
.main {
	background: #FFF url(/jsp/anaconda/img/bgmain.gif) no-repeat;
	clear: both;
	padding: 12px 12px 0 52px;
}

/* main left */
.sidenav {
	//float: left;
	width: 200px;
}
.sidenav h1 {
	border-bottom: 1px dashed #DDD;
	font-family:돋움체;
	color: #E73;
	font-size: 1.2em;
	height: 20px;
	margin-top: 1.2em;
}
.sidenav ul {
	margin: 0;
	padding: 0;
}
.sidenav li { 
	border-bottom: 1px dashed #EEE;
	list-style: none;
	margin: 0;
}
.sidenav li a {
	color: #000;
	display: block;
	font-size: 1.1em;
	font-family:돋움체;
	padding: 3px 6px 3px 18px;
	text-decoration: none;
}
.sidenav li a:hover {
	color: #111;
	background: url(/jsp/anaconda/img/nav_li.gif) no-repeat;
}

/* content */
.content {
	//float: bottom;
	margin-right: 4%;
	width: 900px;
}
.content .descr {
	color: #C60;
	margin-bottom: 6px;
}
.content li {
	list-style: url(/jsp/anaconda/img/li.gif);
	margin-left: 18px;
	margin-bottom: 2px;
	font-family:돋움체;
	font-size:12px;
}

.content p{
	margin-left: 18px;
	margin-bottom: 2px;
	font-family:돋움체;
	font-size:12px;
}

.content cite{
	margin-left: 18px;
	margin-bottom: 2px;
	font-family:돋움체;
	font-size:12px;
}

/* search form */
.styled {
	border: 2px double blue;
	padding: 1px 1px;
	height:15px;
	
}
select {
	border: 1px
	padding: 1px 1px;
	height:20px;
	font-size: 12px;
	font-family:돋움체;
}
select option{
	border: 2px double #E5E5E5;
	padding: 1px 1px;
	height:20px;
	font-size: 8pt;
	font-family:돋움체;
}
.button {
	border: 1px solid #AAA;
	margin-left: 5px;
	padding: 1px 2px;
	height:22px;
	font-size: 1.1em;
	font-family:돋움체;
	color : #000000;
	background-color:#FFFFFF;
}
/* footer */
.footer {
	background: #0094D6 url(/jsp/anaconda/img/img03.jpg) repeat-x;
	color: #C1DEF0;
	font-size: 1.1em;
	line-height: 35px;
	text-align: center;
}
.footer a {
	color: #FFF;
	text-decoration: none;
}
.footer a:hover {
	color: #FFF;
	text-decoration: underline;
}


.left_box {
		background: #f4f4f4;
		color: #000;
		border: 1px solid #ccc;
		padding: 10px;
	}