body {
	margin: 0  ;
	font-family: Verdana, helvetica, sans-Serif ;
	letter-spacing: 1px ;
	font-size: 9pt ;
	background: #eee ;
	color: #333;
}
.os { 
	background-color: #c1d199;
	color: #819159;
	padding: 1.0em;
	font-weight: bold;
	font-size: 2em ;
	margin: 0em 4em 0em 4em;
}
.container {
	padding: 1em 8em 1em 8em;
}

/********************* Contents ********************/
.contents {
	margin: 0 4em 4em 4em;
	padding: 3px 1.5em 0 0 ;
	min-height: 15ex;
}
.contents p, .contents ul, .contents dl {
	margin: 0.5em 0 1em 0;
	line-height: 1.2em;
}
.contents H1 {
	font-size: 11pt ;
	padding: 0 ;
	border-bottom: 1px solid #819159 ;
	padding-bottom: 2px ;
}
.contents A {
	color: #718149 ;
	font-weight: bold ;
	text-decoration: none ;
	border-bottom: 1px dotted ;
}
.contents A:hover {
	border-bottom: 1px solid ;
}

/******************* footer *************************/
.footer {
	clear: both;
	border: 2px dotted #c1d199 ;
	padding: 1em ;
	text-align: center;
	margin-top: 0em ;
	margin-bottom: 0.8em ;
}

/* Left Nav ***********************/
.leftmenu {
	margin: 0;
	padding: 0 0 0px 10px;
	text-align: right ;
}
.leftmenu p {
	margin: 0px ;
	text-align: center ;
	display: none ;
}


#leftnavlist li, #leftnavlist ul
{
	list-style: none;
	margin: 3px;
	padding: 4px;
	display: inline;
}

#leftnavlist li a { 
	text-decoration: none; 
	color: #d7a189 ;
	background: #eee;
	padding: 12px ;
}

#leftnavlist a:link#leftcurrent, #leftnavlist a:visited#leftcurrent, #leftnavlist a:hover
{
	color: #819159;
	background: transparent;
	background: #ddd;
	padding: 12px ;
}

/******************* Top Nav ***************/
.topmenu { 
	border-bottom: 12px solid #819159;
	margin-bottom: 0.8em;
	margin-top: 0.5em;
	padding: 1em 1em 1em 0em;
	text-align: left;
}

#topnavlist
{
	margin: 0;
	padding: 0 0 0px 10px;
}

#topnavlist ul, #topnavlist li
{
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

#topnavlist a:link, #topnavlist a:visited
{

	font-weight: bold;
	margin: 0 10px 0px 10px;
	text-decoration: none;
	color: #111;
	padding: 12px ;
}

#topnavlist a:link#topcurrent, #topnavlist a:visited#topcurrent, #topnavlist a:hover
{
	background: transparent;
	color: #000;
	background: #ddd;
	padding: 12px ;
}

#topnavlist a:hover { 
	color: #000; 
}