div.content-module-heading {
	/*cursor: pointer;*/
}

div.content-module-heading h3 {
  color: #3f4551;
  font-size: 20px;
  font-weight: bold;
  margin: 9px; /* 15/12 */
}
	
div.content-module-heading span { 
  color: #969dac;
  margin: 8px; /* 15/10 */
}

div.content-module-main { padding: 1em; /* 16/16 */ }


